.row {
    margin-bottom: 30px;
}

h5 {
    font-weight: bold;
}

#top-content h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}
table#demo  {
    width: 100%;
    margin-top: 70px;
}
.domain-form-holder {
    width: 270px;
    height: 555px;
    display: block;
    padding: 100px 35px 0px 45px;
    margin-left: auto;
    margin-right: auto;

}

.domain-text-holder, .btn-go-holder {
    padding-top: 10px;
}

.domain-form-holder.left, .domain-form-holder.right, .domain-form-holder.third, .domain-form-holder.forth {
    background-image: url("../images/smartphone.png");
    background-size:cover ;
    background-repeat: no-repeat;

}

.iban-form-holder {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -5px;
}

form#iban-form-left, form#iban-form-right {
    position: relative;
    top: 10px;
}

.avatar {
    text-align: center;
}

.avatar img {
    width: 100px;
    clear: both;
    display: block;
    margin: auto;
}

/*https://fonts.google.com/specimen/Lobster?selection.family=Lobster*/

.left div.title span, .domain-form-holder.third .page .title span {
    font-family: 'Special Elite', cursive;
    font-size: 32px;
}


.right div.title span {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.left #domain-text-left, .right #domain-text-right {
    padding-left: 10px;
}

.left #domain-text-left {
    padding: 0px;
    font-size: 16px;
}

#amount-text-left, #amount-text-right {
    width: 45%;
    padding: 0px;
    display: inline-block;
}
div#leResult1, div#leResult2 {
    display: none;
    position: relative;
    background-color: white;
    z-index: -100;
    top: 70px;
    left: -10px;
    width: 200px;

    border-radius: 10px;
    padding: 15px;
}

#leResult1 > div.info, #leResult2 > div.info {
    width: 100%;
    display: block;
}

#leResult1 > div.info:last-child, #leResult2 > div.info:last-child {
    position: absolute;
    padding-left: 0px;
    margin-left: -15px;
}

div.info label {
    width: 100%;
    display: block;
}

span.button {
    width: 100%;
    display: block;
    border-top: 1px lightgray solid;
    padding-top: 10px;
    margin-top: 15px;
}

.domain-text {
    font-size: 20px;
    padding: 8px 0px;
}

.btn-go {
    padding: 8px 0px;
    font-size: 18px;
}

/*euro bill*/

img.euro-bill-left, img.euro-bill-right {
    position: absolute;
    display:none;
}

div.use-case-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -80px;
}

.use-case-text .explanation {
    width: 300px;
    display: block;
}


div.use-case-setup {
    color: white;
    padding-top: 10px;
    font-weight: bolder;

}

.use-case-steps {
    color: white;
    font-weight: bolder;
}

.explanation {

    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.domain-form-holder {
    margin-bottom: 0px;
    margin-top: 0px;
}

.demo-link {
    color: white;
    font-size: 1.2em;
}

.demo-link img {
    width: 60%;
}

#use-case-text-left-more-text, #use-case-text-right-more-text, #use-case-text-third-more-text, #use-case-text-forth-more-text{
    display: block;
    position: absolute;
    background-color: #009500;
    width: 90%;
    z-index: 100;
    border-radius: 10px;
    text-align: left;
    margin-left: 3%;
    font-size: 12px;
    padding-left: 1%;
    padding-right: 1%;
}

@media (max-width: 800px) {
    #top-content h1 {
        font-size: 6vw;
    }
}

@media (max-width: 500px) {
    #top-content h1 {
        font-size: 6vw;
    }
    #footer .contact-box {
        font-size: 4vw;
    }
    #footer .contact-box {
        font-size: 4vw;
    }
}
@media (min-width: 500px) {
    #footer .contact-box {
        font-size: 22px;
    }
}

@media (max-width: 720px) {
    .wrapper {
        width: 100%;
    }
    .domain-form-holder {
        max-width: 500px;
        margin-top: 105px;
        margin-bottom: 20px;
        margin-left:auto;
        margin-right:auto;

    }
    #top-content {
        padding: 0px;
    }
    #use-case-text-left-more-text, #use-case-text-right-more-text, #use-case-text-third-more-text {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    [data-carousel-3d]:before {
        padding-top: 0px !important;
    }
}

@media (min-width: 720px) {
    .wrapper {
        /* height: 600px; */
        /*width: 100%;*/
    }
}

#myCarousel, [data-children-wrapper], [data-child], [data-prev-button], [data-carousel-3d], [data-child-frame] {
    border-color: transparent !important;
}

#iban-cancel-third-button {
    background-color: lightgrey;
}

#iban-cancel-forth-button {
    background-color: lightgrey;
}

#domain-text-forth {
    height: 40px;
}

.console-wrapper {
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.console {
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    border-radius: 5px;
    height: 400px;
}
.console-header {
    background-color: #ddd;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.console-line {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-weight: bold;
    color: white;
    text-align: left;
}

.line-color-gray {
    color: darkgray;
}

.line-color-ligthgray {
    color: gray;
}

.line-color-white {
    color: white;
}

.console-terminal {
    overflow-y: scroll;
    height: 380px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 420px;
}

.console-scroll-area {


}