table#demo  {
    width: 100%;
    margin-top: 70px;
}
.domain-form-holder {
    width: 270px;
    height: 555px;
    display: block;
    padding: 100px 35px 0px 45px;
    margin-left: auto;
    margin-right: auto;

}

.domain-text-holder, .btn-go-holder {
    padding-top: 10px;
}

.domain-form-holder.left, .domain-form-holder.right  {
    background-image: url("../images/smartphone.png");
    background-size:cover ;
    background-repeat: no-repeat;

}

.iban-form-holder {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -5px;
}

form#iban-form-left, form#iban-form-right {
    position: relative;
    top: 10px;
}

.avatar {
    text-align: center;
}

.avatar img {
    width: 100px;
    clear: both;
    display: block;
    margin: auto;
}

/*https://fonts.google.com/specimen/Lobster?selection.family=Lobster*/

.left div.title span {
    font-family: 'Special Elite', cursive;
    font-size: 32px;
}


.right div.title span {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.left #domain-text-left, .right #domain-text-right {
    padding-left: 10px;
}

.left #domain-text-left {
    padding: 0px;
    font-size: 16px;
}

#amount-text-left {
    width: 45%;
    padding: 0px;
    display: inline-block;
}
div#leResult1, div#leResult2 {
    display: none;
    position: relative;
    background-color: white;
    z-index: -100;
    top: 70px;
    left: -10px;
    width: 200px;

    border-radius: 10px;
    padding: 15px;
}

#leResult1 > div.info, #leResult2 > div.info {
    width: 100%;
    display: block;
}

#leResult1 > div.info:last-child, #leResult2 > div.info:last-child {
    position: absolute;
    padding-left: 0px;
    margin-left: -15px;
}

div.info label {
    width: 100%;
    display: block;
}

span.button {
    width: 100%;
    display: block;
    border-top: 1px lightgray solid;
    padding-top: 10px;
    margin-top: 15px;
}

.domain-text {
    font-size: 20px;
    padding: 8px 0px;
}

.btn-go {
    padding: 8px 0px;
    font-size: 18px;
}

/*euro bill*/

img.euro-bill {
    position: absolute;
    display:none;
}

div.use-case-text {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -80px;
}



div.use-case-setup {
    padding-top: 10px;
}

div.use-case-setup.left {
    color: white;
    display: none;
    position: absolute;
    left: -140px;
    top: 370px;
    font-weight: bolder;
}

.use-case-steps.left {
    color: white;
    display: none;
    position: absolute;
    left: 329px;
    top: 600px;
    width: 45%;
    font-weight: bolder;
}

div.use-case-setup.right {
    color: white;
    display: none;
    position: absolute;
    left: 440px;
    top: 370px;
    font-weight: bolder;
}

.use-case-steps.right {
    color: white;
    display: none;
    position: absolute;
    left: 900px;
    top: 600px;
    width: 45%;
    font-weight: bolder;
}

.explanation {
    text-align: left;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}